@import "~react-image-gallery/styles/css/image-gallery.css";

.gallery-container {
    margin: 0.5em;
}

.gallery-header {
    display: block;
    padding: 0.5em;
    font-size: 1.5rem;
    text-align: center;
    text-decoration: underline var(--sage);
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
}

@media screen and (min-width: 768px) {
    .gallery-header {
        font-size: 2.5rem;
    }

    .gallery-image {
        height: 85vh;
    }
}