@import "~react-image-gallery/styles/css/image-gallery.css";

.image-gallery-slide img {
    width: 100%;
    height: 50vh;
}

.fullscreen .image-gallery-slide img {
    width: 100%;
    height: 100vh;
}

.gallery-container {
    margin: 0.5em;
}

.gallery-image {
    height: 50vh;
}

.fullscreen .gallery-image {
    height: 100vh;
}

.gallery-header {
    display: block;
    padding: 0.5em;
    font-size: 1.5rem;
    text-align: center;
    text-decoration: underline var(--sage);
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
}

@media screen and (min-width: 768px) {
    .gallery-header {
        font-size: 2.5rem;
    }

    .image-gallery-slide img {
        width: 100%;
        height: 70vh;
    }

    .gallery-image {
        height: 70vh;
    }
}