.party-header {
    display: block;
    padding: 0.5em;
    font-size: 1.5rem;
    text-decoration: underline var(--sage);
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
}

.people-group {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

.scroll-helper {
    font-size: 3vw;
    text-align: right;
    margin: 0 5vw;
    color: var(--sage);
    text-transform: uppercase;
    text-decoration: underline;
    font-family: 'Montserrat', sans-serif;
}

@media screen and (min-width: 768px) {
    .party-header {
        text-align: center;
        font-size: 2.5rem;
    }

    .people-group {
        display: flex;
        flex: 1 1 0px;
        justify-content: space-around;
        overflow-x: hidden;
        white-space: normal;
    }

    .scroll-helper {
        display: none;
    }
}