@import '/src/common/fonts.css';

.cover-container {
    position: relative;
    object-fit: cover;
    overflow: hidden;
    height: 100vh;
}

.cover-img {
    height: 100%;
    transform: translateX(-41vh);
}

.cover-text, .cover-rsvp {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    width: 100%;
    position: absolute;
    background: transparent;
    z-index: 1;
}

.cover-text {
    top: 12vh;
}

#wedding-date {
    font-family: 'Montserrat', sans-serif;
    color: black;
    border: 0.05em solid var(--dustyrose);
    border-radius: 5px;
    font-size: 10.25vw;
    padding-left: 0.15em;
    padding-right: 0.15em;
    font-weight: normal;
}

.cover-rsvp {
    top: 60vh;
    text-align: center;
    padding: 0.15em;
    padding-left: 0.15em;
    padding-right: 0.15em;
    font-family: 'Montserrat', sans-serif;
}

.rsvp-button {
    display: block;
    border: 0.025em solid var(--dustyrose);
    border-radius: 5px;
    background-color: rgb(245, 245, 245, 0.8);
    padding: 0.5em 4em;
    text-transform: uppercase;
}

#rsvp-link {
    color: black;
    font-size: 20vw;
    font-weight: normal;
    text-decoration: none;
}

#rsvp-description {
    font-size: 4vw;
}

@media screen and (min-width: 768px) {
    .cover-img {
        object-fit: cover;
        width: 100%;
        height: 100vh;
        transform: none;
    }

    .cover-text {
        text-align: center;
        width: auto;
        top: 10.5vh;
        left: 0;
        margin-left: 0.5em;
        margin-right: 1em;
    }

    .cover-link {
        display: none;
    }

    #wedding-date {
        font-size: 7vw;
        border: 0.025em solid var(--dustyrose);
    }

    .hidden-on-desktop {
        display: none;
    }
}