.registry-description {
    display: block;
    margin: 1em;
    font-size: 1rem;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.registry-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 2em;
}

.registry-link {
    display: inline-block;
    padding: 0.5em;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.85rem;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: black;
    border: 1px solid var(--sage);
    border-radius: 5px;
    width: 35%;
}

.registry-link:hover {
    background-color: rgb(220, 174, 150, 0.4);
}


@media screen and (min-width: 768px) {

    .registry-description {
        font-size: 2rem;
    }

    .registry-link {
        font-size: 2vw;
        border: 2px solid var(--sage);
    }
}