.registry-header {
    display: block;
    padding: 0.5em;
    font-size: 1.5rem;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
}

.registry-description {
    display: block;
    margin: 1em;
    font-size: 1rem;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.registry-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 2em;
}

.registry-link {
    display: inline-block;
    padding: 0.5em;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: black;
    border: 1px solid var(--sage);
    border-radius: 5px;
    width: 30%;
}

.registry-link:hover {
    background-color: var(--dustyrose);
}


@media screen and (min-width: 768px) {
    .registry-header {
        font-size: 2.5rem;
    }

    .registry-description {
        font-size: 2rem;
    }

    .registry-link {
        font-size: 3vw;
        border: 2px solid var(--sage);
    }
}