.card-main {
    display: inline-block;
    border-radius: 10px;
    background: whitesmoke;
    padding: 1vw 1vw;
}

.card-main h3, h4 {
    text-align: center;
    margin: .5vh 0;
}

.card-main img {
    display: block;
    height: 15vw;
    width: 15vw;
    object-fit: cover;
    margin-bottom: 2vh;
    border-radius: 10px;
}