.card-main {
    display: inline-block;
    border-radius: 5px;
    background: lightgrey;
    padding: 20px;
}

.card-main h3 {
    text-align: center;
    margin: 10px 0px;
}

.card-main img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 15vw;
    width: 15vw;
    object-fit: cover;
    border-radius: 50%;
}