:root {
    --dustyrose: #DCAE96;
    --sage: #9BA17B;
}

* {
    margin: 0;
    padding: 0;
}

.nav {
    position: fixed;
    left: 0;
    right: 0;
    padding: 0;
    background-color: whitesmoke;
    opacity: 80%;
}

.navHeader, .navLink {
    text-align: center;
    display: block;
    padding: 26px 28px;
    margin-left: 10px;
    margin-right: 10px;
    color: black;
    text-decoration: none;
    font-size: x-large;
}

.navLink {
    float: right;
}

.navHeader {
    float: left;
}

.navLink:hover {
    background-color: var(--sage);
}

.navHeader:hover {
    background-color: var(--sage);
}

.headerImg {
    width: 100%;
    height: auto;
    z-index: -1;
    background: #555;
}
