@import './common/fonts.css';

:root {
    --dustyrose: rgb(220, 174, 150);
    --sage: rgb(155, 161, 123);
}

* {
    margin: 0;
    padding: 0;
}

.sectionDivider {
    margin: 2vh auto;
    width: 95%;
}