:root {
    --dustyrose: rgb(220, 174, 150);
    --sage: rgb(155, 161, 123);
    --dustyblue: rgb(136, 155, 174);
}

* {
    margin: 0;
    padding: 0;
}

.headerContainer {
    position: relative;
    width: 100%;
}

.centeredTitle {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0 20px;
    border: 3px solid var(--dustyrose);
    border-radius: 5px;
    background-color: rgb(155, 161, 123, 0.5);
}

#weddingDate {
    color: whitesmoke;
    font-size: 7.5vw;
    font-weight: normal;
}

.headerImg {
    width: 100%;
    height: auto;
}

.sectionHeader {
    padding: 14px 28px;
    text-align: center;
}

.contentSection {
    display: inline-block;
    width: 100vw;
    min-width: 50vw;
}

.people-group {
    display: flex;
    flex: 1 1 0px;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: space-around;
    padding-top: 2vh;
    padding-bottom: 2vh;
}
