.nav {
    position: fixed;
    width: 100%;
    left: 0;
    right: 0;
    background: rgb(245, 245, 245, 0.8);
    z-index: 1;
}

.navHeader, .navLink {
    text-align: center;
    display: block;
    color: black;
    text-decoration: none;
    border: none;
    background-color: Transparent;
}

.navHeader {
    font-size: 2.5vw;
    padding: .75vw 1.25vw;
    font-family: 'Pinyon Script', cursive;
}

.navLink {
    font-size: 1.5vw;
    padding: 1.4vw 1.25vw;
    font-family: 'Merriweather', serif;
}

.navLink {
    float: right;
}

.navHeader {
    float: left;
}

.navLink:hover {
    background-color: var(--dustyrose);
}

.navHeader:hover {
    background-color: var(--sage);
}