form {
    margin-top: 85px;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
}

.formLabel {
    margin-top: 30px;
    margin-bottom: 10px;
    text-align: left;
    font-size: x-large;
}

.textInput{
    display: block;
    text-align: left;
    font-size: larger;
    border: none;
    border-radius: 5px;
    padding: 10px;
}

.dropdown {
    display: block;
    font-size: larger;
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 100%;
}

.submitButton {
    display: block;
    margin-top: 25px;
    height: 50px;
    width: 100%;
    border: none;
    border-radius: 5%;
    font-weight: bold;
    font-size: larger;
}

.submitButton:hover {
    background-color: var(--sage);
}