.info-header {
    display: block;
    padding: 0.5em;
    font-size: 1.5rem;
    text-align: center;
    text-decoration: underline var(--sage);
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
}

.info-subhead {
    display: block;
    padding: 0.5em;
    margin-top: 1em;
    font-size: 1rem;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
}

.info-detail {
    display: block;
    margin: 1em;
    font-size: 0.85rem;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

hr {
    width: 85%;
    margin: auto;
}

@media screen and (min-width: 768px) {

    .info-header {
        font-size: 2.5rem;
    }

    .info-subhead {
        font-size: 1.85rem;
    }

    .info-detail {
        font-size: 1.7rem;
    }
}